[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.verycoolphotoblog.com/wp-content/uploads/2013/12/0.-belive.jpg
Type=Link
URL=http://www.verycoolphotoblog.com/wp-content/uploads/2013/12/0.-belive.jpg
Icon=image-jpeg
